.btn-record-active:focus {
    box-shadow: 3px 3px 5px inset #84121d;
}
.btn-record-active {
    box-shadow: 3px 3px 5px inset #84121d;
}

.btn-record {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.audio-slider {
    width: 100%;
    background: #ccc;
    -webkit-appearance: none;
    height: 10px;
}
.audio-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--dark)
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--dark);
}

.no-wrap {
    white-space: nowrap;
}