.App {
	width: 100%;
	height: 100%;
	position: fixed;
}

.btn-record {
	width: 20vw;
	height: 20vw;
	font-size: 10vw;
	margin: 5vw !important;
}
.btn-record-active:focus {
    box-shadow: 3px 3px 5px inset #84121d;
}
.btn-record-active {
    box-shadow: 3px 3px 5px inset #84121d;
}